<div id="sidebar">
	
    <h2>Listing Planning Tree</h2>
    <div id="jstree_div"></div>
    
</div><!-- sidebar -->    	              

<script>
	$('#jstree_div').jstree({ 
		"core" : {
			"data" : {
				"url" : "cycles.json",
				"dataType" : "json" // needed only if you do not supply JSON headers
			},
			"themes" : {"theme" : "classic", "stripes" : false, "icons" : true, "dots" : true},
		},
		"plugins" : [ "themes", "json_data", "ui", "wholerow" ],
	});
</script>

<!-- 
	$('#jstree_div').jstree({ 
		"core" : {
			"data" : [
				'Simple root node',	{
					'text' : 'Root node 2',
					'state' : {
						'opened' : true,
						'selected' : false
					},
					'children' : [
						{ 'text' : 'Child 1' },
						'Child 2'
					]
				}
			],
			"themes" : {"theme" : "classic", "stripes" : false, "variant" : "large", "icons" : true, "dots" : false},
		},
		"plugins" : [ "themes", "json_data", "ui", "wholerow", "checkbox" ],
		"checkbox" : { "keep_selected_style" : false},
	});

 -->