<p id="notice"><%= notice %></p>

<h1>Listing Cycles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Notes</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Volume</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
  	<%= nested_cycles(@cycles.arrange) %>
  </tbody>
</table>

<br>

<%= link_to 'New Cycle', new_cycle_path %>