<p id="notice"><%= notice %></p>

<h1>Listing Cycles (tree)</h1>

<div id="jstree_div"></div>

<br>

<%= link_to 'New Cycle', new_cycle_path %>

<script>
	$('#jstree_div')
		.jstree({ 
			"core" : {
				"multiple" : false,
				"data" : {
					"url" : "cycles.json",
					"dataType" : "json" 
				},
				"themes" : {"theme" : "classic", "stripes" : false, "icons" : true, "dots" : true},
			},
			"plugins" : [ "themes", "json_data", "ui", "wholerow" ]
		})
		.on('changed.jstree', function (e, data) {
			var href_address = data.instance.get_node(data.selected[0]).a_attr.href;
			//$.get(href_address);
			window.location.assign(href_address);
		});		
	
</script>