<h1>Listing Plans</h1>

<p id="notice"><%= notice %></p>

<div id="treebox">
	<div id="jstree"></div>
</div>

<script>
	$('#jstree')
		.jstree({ 
			"core" : {
				"multiple" : false,
				"data" : {
					"url" : "moves.json",
					"dataType" : "json" 
				},
				"themes" : {"theme" : "classic", "stripes" : false, "icons" : true, "dots" : true},
			},
			'types' : {
				'default' : { 'icon' : 'folder' },
				'file' : { 'valid_children' : [], 'icon' : 'file' }
			},
			"state" : { "key" : "moves" },
			"plugins" : [ "themes", "json_data", "ui", "wholerow", "state" ]
		})
		.on('changed.jstree', function (e, data) {
			var href_address = data.instance.get_node(data.selected[0]).a_attr.href;
			window.location.assign(href_address);
		});		
	
</script>

<!-- 
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Notes</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Times</th>
      <th>Distance</th>
      <th>Duration</th>
      <th>Pace</th>
      <th>Rest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moves.each do |move| %>
      <tr>
        <td><%#= move.name %></td>
        <td><%#= move.notes %></td>
        <td><%#= move.start_date %></td>
        <td><%#= move.end_date %></td>
        <td><%#= move.times %></td>
        <td><%#= move.distance %></td>
        <td><%#= move.duration %></td>
        <td><%#= move.pace %></td>
        <td><%#= move.rest %></td>
        <td><%#= link_to 'Show', move %></td>
        <td><%#= link_to 'Edit', edit_move_path(move) %></td>
        <td><%#= link_to 'Destroy', move, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> 
-->
<br>

<%= link_to 'New Move', new_move_path %>
