<div id="sidebar">
	
    <h2>Listing Planning Tree</h2>
    <div id="jstree_div"></div>
    
</div><!-- sidebar -->    	              

<script>
	$('#jstree_div').jstree({ 
		"core" : {
			"data" : {
				"url" : "cycles.json",
				"dataType" : "json" // needed only if you do not supply JSON headers
			},
			"themes" : {"theme" : "classic", "stripes" : false, "icons" : true, "dots" : true},
		},
		"plugins" : [ "themes", "json_data", "ui", "wholerow" ],
	});
</script>