<title>Hermes | Managing Workout Plans for Running Groups</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> 
<!-- improve below line to refer local style in ruby syntax -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/themes/default/style.min.css" /> 
<!-- <%= javascript_include_tag '/themes/default/style.min.css' %> -->	
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
